In [ ]:
2+3

5

In [ ]:
print("k")

k

In [ ]:
num1 = float(input())
num2 = float(input())
print(num1+num2)

2
3
5.0

Write a Python program that computes the factorial of an
integer

In [ ]:
import math as mh

num = 5

print(mh.factorial(num))

120

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact*i

fact

120

In [ ]:
from math import *
sin(30)

-0.9880316240928618

In [ ]:
number = 1
while number < 200:
  print(number)
  number = number * 2

1
2
4
8
16
32
64
128

In [ ]:
x = [2,9]
y = x
y.append(5)
x
y = None
x

[2, 9, 5]

In [ ]:
y = x
x = x + [9,10]
y

[2, 9, 5]

In [ ]:
tuple1 = (9,)
tuple1

(9,)

In [ ]:
set1 = set(x)
set1

{2, 5, 9, 10}

In [ ]:
address = {
    'Wayne': 'Young 678',
    'John': 'Oakwood 345',
    'Mary': 'Kingston 564'
}

for k in address.keys():
  print(k, ":", address[k])

Wayne : Young 678
John : Oakwood 345
Mary : Kingston 564

In [ ]:
for k in sorted(address.keys()):
  print(k,":",address[k])

John : Oakwood 345
Mary : Kingston 564
Wayne : Young 678

In [ ]:
def main():
  print ("I have a message for you.")
  message()
  print ("Goodbye!")
def message():
  print ("The password is ‘foo’")
main()

I have a message for you.
The password is ‘foo’
Goodbye!

In [ ]:
name = 'Obama'
def showname():
  global name
  print ("Function 1:", name)
  name = 'John'
  print ("Function 2:", name)
print ("Main program 1:", name)
showname()
print ("Main program 2:", name)

Main program 1: Obama
Function 1: Obama
Function 2: John
Main program 2: John

In [ ]:
tup = ()
type(tup)

tuple

# Self Practice

In [ ]:
type(1)
type(-10)
type(0)
type(0.0)
type(2.2)
type(4E2)

float

In [ ]:
print(
    10+3,
    10-3,
    10*3,
    10**3,
    10/3,
    10//3,
    10%3
)

13 7 30 1000 3.3333333333333335 3 1

In [ ]:
print(
    pow(5,2),
    abs(-50),
    round(5.46),
    round(5.468,2),
    bin(512),
    hex(512)
)

25 50 5 5.47 0b1000000000 0x200

In [ ]:
age = input("How old are you?")
print(type(age))
age = int(age)
print(type(age))
pi = input("What is the value of pi?")
print(type(pi))
pi = float(pi)
print(type(pi))

How old are you?23
<class 'str'>
<class 'int'>
What is the value of pi?3.14
<class 'str'>
<class 'float'>

# Self Practice 2

In [ ]:
type('Hello')

str

In [ ]:
print('I\'m thirsty')

I'm thirsty

In [ ]:
print("I'm thirsty")

I'm thirsty

In [ ]:
print("I'm thirsty.\nGive me water.")

I'm thirsty.
Give me water.

In [ ]:
print("I'm thirsty.\tGive me water.")

I'm thirsty.	Give me water.

In [ ]:
'Hey you!'[4]

'y'

In [ ]:
name = 'Andrei Neagoie'

In [ ]:
name[4]

'e'

In [ ]:
name[:]

'Andrei Neagoie'

In [ ]:
name[1:]  # Include rest of array starting from index 1

'ndrei Neagoie'

In [ ]:
name[:1]  # Exclude rest of array upto index 1

'A'

In [ ]:
name[-1]

'e'

In [ ]:
name[::1]

'Andrei Neagoie'

In [ ]:
name[::-1]

'eiogaeN ierdnA'

In [ ]:
name[0:10:2]

# slicing
# [start:end:step]

'Ade e'

In [ ]:
'Hi there ' + 'Timmy'

'Hi there Timmy'

In [ ]:
'*'*10

'**********'

In [ ]:
len('turtle')

6

In [ ]:
# str_var.strip('string_arg') method
# removes character from string

# remove white space as a default
' I am alone '.strip()

'I am alone'

In [ ]:
'On an island'.strip('d')

'On an islan'

In [ ]:
# split string into a list
# str_var.split('str_var')
'but life is good!'.split()

['but', 'life', 'is', 'good!']

In [ ]:
# Replaces arg1 with arg2
# str_var.replace('arg1_inside_str_var', 'arg2')
'Help me'.replace('me', 'you')

'Help you'

In [ ]:
# Find falsity
'Need to make fire'.startswith('Need')

True

In [ ]:
'and cook rice'.endswith('rice')

True

In [ ]:
'bye bye'.index('e')

2

In [ ]:
'still there?'.upper()

'STILL THERE?'

In [ ]:
'HELLO?!'.lower()

'hello?!'

In [ ]:
'ok, I am done.'.capitalize() # Capitalize sentence start

'Ok, i am done.'

In [ ]:
'oh hi there'.find('i')

4

In [ ]:
'oh hi there'.count('e')

2

In [ ]:
name1 = 'Andrei'
name2 = 'Sunny'

print(f'Hello there {name1} and {name2}')

Hello there Andrei and Sunny

In [ ]:
print('Hello there {} and {}'.format(name1, name2))

Hello there Andrei and Sunny

In [ ]:
print('Hello there %s and %s' %(name1, name2))

Hello there Andrei and Sunny

In [ ]:
# palindrome check
word = 'reviver'

p = bool(word.find(word[::-1]) + 1)

print(p)

True

In [ ]:
bool(True)

True

In [ ]:
bool(False)

False

In [ ]:
# All of the code below evaluate to False.
# Everything else will evaluate to True in Python.
print(bool(None))
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(''))
print(bool(range(0)))
print(bool(set()))

False
False
False
False
False
False
False
False
False
False

In [ ]:
my_list = [1, 2, '3', True]
print(len(my_list),
      my_list.index('3'),
      my_list.count(2),
      my_list[3],
      my_list[1:],
      my_list[:1],
      my_list[-1],
      my_list[::1],
      my_list[::-1],
      my_list[0:3:2]
      )

4 2 1 True [2, '3', True] [1] True [1, 2, '3', True] [True, '3', 2, 1] [1, '3']

In [ ]:
# double the same elements in a new list
my_list*2

[1, 2, '3', True, 1, 2, '3', True]

In [ ]:
my_list + [100]

[1, 2, '3', True, 100]

In [ ]:
print(my_list)    # the original remains unchanged
# list is mutable

[1, 2, '3', True]

In [ ]:
my_list.append(100)

In [ ]:
my_list.extend([100, 200])

In [ ]:
my_list.insert(2, '!!!')

In [ ]:
print(my_list)

[1, 2, '!!!', '3', True, 100, 100, 200]

In [ ]:
# Joins element using string as separator
' '.join(['Hello', 'There'])

'Hello There'

In [ ]:
basket = ['apples', 'pears', 'oranges']
new_basket = basket.copy()
print(new_basket)
new_basket2 = basket[:]
print(new_basket2)

print(bool(new_basket is new_basket2))

['apples', 'pears', 'oranges']
['apples', 'pears', 'oranges']
False

In [ ]:
[1, 2, 3].pop()
[1, 2, 3].pop(1)      # Removes at index 1
[1, 2, 3].remove(2)   # Removes item
[1, 2, 3].clear()     # Sets to empty list
del [1, 2, 3][0]

In [ ]:
# ordering mutates list
print(
    [1,2,5,3].sort(),
    [1,2,5,3].sort(reverse=True),
    [1,2,5,3].reverse()
)

None None None

In [ ]:
# creates new list
sorted([1,2,5,3])

[1, 2, 3, 5]

In [ ]:
list(reversed([1,2,5,3]))

[3, 5, 2, 1]

In [ ]:
1 in [1,2,5,3]

True

In [ ]:
min([1,2,5,3])

1

In [ ]:
max([1,2,5,3])

5

In [ ]:
sum([1,2,3,4,5])

15

In [ ]:
# get first and last element of list
myList = [63,21,30,14,35,26,77,18,49,10]
first, *x, last = myList
print(first)
print(x)
print(last)

63
[21, 30, 14, 35, 26, 77, 18, 49]
10

In [ ]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
matrix[2][0]

7

In [ ]:
mx = [[1,2,3], [4,5,6]]
for row in range(len(mx)):
  for col in range(len(mx[0])):
    print(mx[row][col])

1
2
3
4
5
6

In [ ]:
# transform into list
[mx[row][col] for row in range(len(mx)) for col in range(len(mx[0]))]

[1, 2, 3, 4, 5, 6]

In [ ]:
# list comprehensions
# new_list[<action> for <item> in <iterator> if <some condition>]
a = [i for i in 'hello']

In [ ]:
print(a)

['h', 'e', 'l', 'l', 'o']

In [ ]:
b = [i*2 for i in [1,2,3]]

In [ ]:
print(b)

[2, 4, 6]

In [ ]:
c = [i for i in range(0,10) if i%2==0]

In [ ]:
print(c)

[0, 2, 4, 6, 8]

In [ ]:
list_of_chars = list('Hello')

In [ ]:
print(list_of_chars)

['H', 'e', 'l', 'l', 'o']

In [ ]:
sum_of_elements = sum([1,2,3,4,5])

In [ ]:
print(sum_of_elements)

15

In [ ]:
element_sum = [sum(pair) for pair in zip([1,2,3],[4,5,6])]

In [ ]:
print(element_sum)

[5, 7, 9]

In [ ]:
sorted_by_second = sorted(['hi','you','man'], key=lambda el:el[1])

In [ ]:
print(sorted_by_second)

['man', 'hi', 'you']

In [ ]:
sorted_by_key = sorted(
    [
        {'name': 'Bina', 'age': 30},
        {'name': 'Andy', 'age': 18},
        {'name': 'Zoey', 'age': 55}
    ], key=lambda el:(el['name'])
)

In [ ]:
print(sorted_by_key)

[{'name': 'Andy', 'age': 18}, {'name': 'Bina', 'age': 30}, {'name': 'Zoey', 'age': 55}]

In [ ]:
# read a line of file into a list
with open("myfile.txt") as f:
  lines = [line.strip() for line in f]

FileNotFoundError: ignored

# Self Practice 3

In [ ]:
my_dict = {
    'name': 'Andrei Neagoie',
    'age': 30,
    'magic_power': False
}

In [ ]:
my_dict['name']

'Andrei Neagoie'

In [ ]:
len(my_dict)

3

In [ ]:
list(my_dict.keys())

['name', 'age', 'magic_power']

In [ ]:
list(my_dict.values())

['Andrei Neagoie', 30, False]

In [ ]:
list(my_dict.items())
# list contains tuples
# tuple is a key-value pair

[('name', 'Andrei Neagoie'), ('age', 30), ('magic_power', False)]

In [ ]:
my_dict['favourite_snack'] = 'Grapes'
# adds new key-value pair
# key as sqr-bracketed arg
# value as assigned via =

In [ ]:
print(my_dict)

{'name': 'Andrei Neagoie', 'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes'}

In [ ]:
my_dict.get('age')
# from key as arg
# get value

30

In [ ]:
my_dict.get('ages', 0)
# return 0
# if not found

0

In [ ]:
# remove key
del my_dict['name']

In [ ]:
print(my_dict)

{'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes'}

In [ ]:
my_dict.pop('name', None)

In [ ]:
print(my_dict)

{'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes'}

In [ ]:
print(my_dict.pop('name', None))

None

In [ ]:
# another way
# of adding
# to dict
my_dict.update({'cool': True})

In [ ]:
print(my_dict)

{'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes', 'cool': True}

In [ ]:
# 3rd way of adding item
{**my_dict, **{'cool': True}}

{'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes', 'cool': True}

In [ ]:
# create a dict
# from a collection of
# key-value pairs
new_dict = dict(
    [
        ['name', 'Andrei'],
        ['age', 32],
        ['magic_power', False]
    ]
)

In [ ]:
print(new_dict)

{'name': 'Andrei', 'age': 32, 'magic_power': False}

In [ ]:
# create a dict
# from two collections
new_dict = dict(
    zip(
        ['name', 'age', 'magic_power'],
        ['Andrei', 32, False]
    )
)

# 1st list in sqr-brackets is key
# 2nd is values

In [ ]:
print(new_dict)

{'name': 'Andrei', 'age': 32, 'magic_power': False}

In [ ]:
new_dict = my_dict.pop('favourite_snack', None)

In [ ]:
# create a dict
# from two collections
new_dict = dict(
    zip(
        ['name', 'age', 'magic_power'],
        ['Andrei', 32, False]
    )
)

# 1st list in sqr-brackets is key
# 2nd is values

In [ ]:
# dict comprehension
{key: value for key,
      value in new_dict.items()
      if key == 'age' or key == 'name'}

# filtering dict by keys

{'name': 'Andrei', 'age': 32}

In [ ]:
# tuples are for immutable things
# i.e. things that don't change
my_tuple = ('apple', 'grapes', 'mango', 'grapes')

In [ ]:
print(my_tuple)

('apple', 'grapes', 'mango', 'grapes')

In [ ]:
apple, grapes, mango, grapes = my_tuple
# tuple unpacking

In [ ]:
print(my_tuple)

('apple', 'grapes', 'mango', 'grapes')

In [ ]:
print(apple)

apple

In [ ]:
len(my_tuple)

4

In [ ]:
my_tuple[2]

'mango'

In [ ]:
my_tuple[-1]

'grapes'

In [ ]:
# immutability
my_tuple[1] = 'doughnuts'
# type error

TypeError: ignored

In [ ]:
# immutability
my_tuple.append('candy')
# attribute error

AttributeError: ignored

In [ ]:
my_tuple.index('grapes')

1

In [ ]:
my_tuple.count('grapes')

2

In [ ]:
list(zip([1,2,3], [4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
# unzip
z = [(1,2), (3,4), (5,6), (7,8)]
unzip = lambda z: list(zip(*z))

unzip(z)

[(1, 3, 5, 7), (2, 4, 6, 8)]

In [ ]:
my_set = set()

In [ ]:
print(my_set)

set()

In [ ]:
# sets are unordered
# sets have unique elements
my_set.add(1)

In [ ]:
print(my_set)

{1}

In [ ]:
my_set.add(100)
my_set.add(100)
print(my_set)

{1, 100}

In [ ]:
new_list = [1,2,3,3,3,4,4,5,6,1]
set(new_list)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set.remove(100)

In [ ]:
print(my_set)

{1}

In [ ]:
my_set.discard(100)
# no errors if element doesn't exist

In [ ]:
my_set.clear()

In [ ]:
new_set = {1,2,3}.copy()

In [ ]:
print(new_set)

{1, 2, 3}

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)
set4 = set1.intersection(set2)
set5 = set1.difference(set2)
set6 = set1.symmetric_difference(set2)
print(set3, '\n', set4, '\n', set5, '\n', set6)
print(
    set1.issubset(set2), '\n',
    set1.issuperset(set2), '\n',
    set1.isdisjoint(set2)
)

{1, 2, 3, 4, 5}
 {3}
 {1, 2}
 {1, 2, 4, 5}
False
 False
 False

In [ ]:
# frozen set
# hashable
# can be used as a key in a dict
# or, as an element in a set
<frozenset> = frozenset(<collection>)

SyntaxError: ignored

It looks like you're trying to assign a frozen set to a variable in Python, but there's a syntax error in your code. The correct way to create a frozen set and assign it to a variable is as follows:

```python
my_collection = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(my_collection)
```

In this example, `my_collection` is a list containing some elements, and `my_frozen_set` is a variable that holds a frozen set created from the elements in the list.

Remember that a frozen set is an immutable version of a set, meaning you cannot modify its elements after creation.

In [ ]:
# frozen set
# hashable
# can be used as a key in a dict
# or, as an element in a set
frozenset1 = frozenset(collection)

NameError: ignored

In [ ]:
collection = [1, 2, 3, 4, 5]
# frozen set
# hashable
# can be used as a key in a dict
# or, as an element in a set
frozenset1 = frozenset(collection)

In [ ]:
print(frozenset1)

frozenset({1, 2, 3, 4, 5})

In [ ]:
type(None)

NoneType

In [ ]:
a = None

In [ ]:
print(a)

None

In [ ]:
ls1 = [1,2,3]
ls2 = [1,2,3]
print(ls1 == ls2)
print(ls1 is ls2)

True
False

In [ ]:
1<2 and 4>1

True

In [ ]:
1>3 or 4>1

True

In [ ]:
1 is not 4

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-77-cb80dda4bc11>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 4

True

In [ ]:
not True

False

In [ ]:
1 not in [2,3,4]

True

# Self Practice 4

In [ ]:
my_list = [1,2,3]
my_tuple = (1,2,3)
my_list2 = [(1,2), (3,4), (5,6)]
my_dict = {'a':1, 'b':2, 'c':3}

In [ ]:
for num in my_list:
  print(num)

1
2
3

In [ ]:
for num in my_tuple:
  print(num)

1
2
3

In [ ]:
for num in my_list2:
  print(num)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
for num in '123':
  print(num)

1
2
3

In [ ]:
for k,v in my_dict.items():
  print(k)
  print(v)
# dict unpacking
# k = key
# v = val

a
1
b
2
c
3

In [ ]:
# waiting until user quits
msg = ''
while msg != 'quit':
  msg = input("What should I do?")
  print(msg)

What should I do?hunt birds
hunt birds
What should I do?view gardens
view gardens
What should I do?

What should I do?quit
quit

In [ ]:
range(10)

range(0, 10)

In [ ]:
range(1,10)

range(1, 10)

In [ ]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
for i, el in enumerate('hello'):
  print(f'{i}, {el}')

0, h
1, e
2, l
3, l
4, o

In [ ]:
# counter
from collections import Counter
colours = ['red', 'blue', 'yellow', 'blue',
           'red', 'blue']
counter = Counter(colours)
counter.most_common()[0]

('blue', 3)

In [ ]:
# Tuple is an immutable
# and hashable list.

# Named tuple is its subclass
# with named elements.

from collections import namedtuple
Point = namedtuple('Point', 'x y')
p = Point(1, y=2)
p[0]

1

In [ ]:
p.x

1

In [ ]:
getattr(p, 'y')

2

In [ ]:
p._fields

('x', 'y')

In [ ]:
Point._fields

('x', 'y')

In [ ]:
from collections import namedtuple
Person = namedtuple('Person', 'name height')
person = Person('Jean-Luc', 187)
f'{person.height}'

'187'

In [ ]:
'{p.height}'.format(p=person)

'187'

In [ ]:
# ordered dict
# maintains order of insertion
from collections import OrderedDict
# Store each person's languages,
# keeping # track of who responded first.
programmers = OrderedDict()
programmers['Tim'] = ['python', 'javascript']
programmers['Sarah'] = ['C++']
programmers['Bia'] = ['Ruby', 'Python', 'Go']

for name, langs in programmers.items():
  print(name + '-->')
  for lang in langs:
    print('\t' + lang)

Tim-->
	python
	javascript
Sarah-->
	C++
Bia-->
	Ruby
	Python
	Go

In [ ]:
# Functions
# *args and **kwargs

# Splat (*) expands a collection into
# positional arguments.

# Splatty-splat (**) expands a dict
# into keyword arguments.

def some_func(*args, **kwargs):
  print(args)
  print(kwargs)

args = (1,2)
kwargs = {'x':3, 'y':4, 'z':5}
some_func(*args, **kwargs)

(1, 2)
{'x': 3, 'y': 4, 'z': 5}

**\(*) Inside Function Definition**
<p>Splat combines zero or more positional arguments into a tuple.
<p> Splatty-splat combines zero or more keyword arguments into a dictionary.

In [ ]:
def add(*a):
  return sum(a)

add(1,2,3)

6

In [ ]:
[*[1,2,3], *[4]]

[1, 2, 3, 4]

In [ ]:
{*[1,2,3], *[4]}

{1, 2, 3, 4}

In [ ]:
(*[1,2,3], *[4])

(1, 2, 3, 4)

In [ ]:
{**{'a':1,'b':2}, **{'c':3}}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
head, *body, tail = [1,2,3,4,5]

In [ ]:
print(head, body, tail)

1 [2, 3, 4] 5

In [ ]:
from functools import reduce
n = 3

In [ ]:
fib = lambda n : n if n <= 1 else fib(n-1) + fib(n-2)
result = fib(10)
print(result)

55

In [ ]:
[i+1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
{i for i in range(10) if i > 5}

{6, 7, 8, 9}

In [ ]:
tup = (i+5 for i in range(10))

In [ ]:
print(*tup)

5 6 7 8 9 10 11 12 13 14

In [ ]:
{i: i*2 for i in range(10)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [ ]:
output = [
    i+j for i in range(3)
        for j in range(3)
]

In [ ]:
print(output)

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [ ]:
output = []
for i in range(3):
  for j in range(3):
    output.append(i+j)

In [ ]:
print(output)

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [ ]:
# ternary cond
# <expression_if_true>
# if <cond>
# else <expression_if_false>

[
    a
    if a
    else 'zero' for a in [0,1,0,3]
]

['zero', 1, 'zero', 3]

In [ ]:
# map filter reduce
from functools import reduce
# list(map(lambda x: x+1, range(10)))
list1 = map(lambda x: x+1, range(10))

In [ ]:
print(list1)

<map object at 0x7e974a833370>

In [ ]:
print(*list1)

1 2 3 4 5 6 7 8 9 10

In [ ]:
print(*filter(lambda x: x>5, range(10)))

6 7 8 9

In [ ]:
print(reduce(lambda acc, x: acc+x, range(10)))

45

In [ ]:
# any
# returns true if at least 1 true
any([False, True, False])

True

In [ ]:
all([True, 1, 3, True])

True

# Self Practice 5

We have a ***closure*** in Python when:
<p>• A nested function references a value of its enclosing function and then
<p>• The enclosing function returns the nested function.

In [1]:
def get_multiplier(a):
  def out(b):
    return a*b
  return out

In [2]:
multiply_by_3 = get_multiplier(3)

In [3]:
multiply_by_3(10)

30

In [6]:
multiply_by_3.__closure__[0].cell_contents
# To dynamically access function's first free variable use

3

If multiple nested functions within enclosing function reference the same value,
that value gets shared.

If variable is being assigned to anywhere in the scope, it is regarded as a local variable,
unless it is declared as a 'global' or a 'nonlocal'.

In [9]:
def get_counter():
  i = 0
  def out():
    nonlocal i
    i += 1
    return i
  return out

In [10]:
counter = get_counter()

In [11]:
counter(), counter(), counter()

(1, 2, 3)

In [13]:
def main():
  return None

if __name__ == '__main__':
  main()
# runs main if file was not imported

In [14]:
main()



```
import <module_name>
from <module_name> import <function_name>
import <module_name> as m
from <module_name> import <function_name> as m_function
from <module_name> import *
```

***Iterators***


```
<iter> = iter(<collection>)
<iter> = iter(<function>, to_exclusive) # Sequence of return values until
'to_exclusive'.
<el> = next(<iter> [, default]) # Raises StopIteration or returns 'default'
on end.
```

In [18]:
# Generators
# Convenient way to implement the iterator protocol
def count(start, step):
  while True:
    yield start
    start += step

In [19]:
counter = count(10,2)

In [20]:
next(counter), next(counter), next(counter)

(10, 12, 14)

***Decorator***
A decorator takes a function, adds some functionality and returns it.


```
@decorator_name
def function_that_gets_passed_to_decorator():
 ...
```

In [22]:
# Debugger example
# Decorator that prints function's name every time it gets called
from functools import wraps

def debug(func):
  @wraps(func)

  def out(*args, **kwargs):
    print(func.__name__)
    return func(*args, **kwargs)

  return out

@debug
def add(x, y):
  return x + y

<p>• Wraps is a helper decorator that copies metadata of function add() to function
out().
<p>• Without it 'add.__name__' would return 'out'.

In [23]:
add(5,6)

add

11

In [25]:
class name:
  age = 80
  # class obj attr

  def __init__(self, a):
    self.a = a
    # obj attr

  @classmethod
  def get_class_name(cls):
    return cls.__name__

In [26]:
# inheritance
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

class Employee(Person):
  def __init__(self, name, age, staff_num):
    super().__init__(name, age)
    self.staff_num = staff_num

In [27]:
# multiple inheritance
class A: pass
class B: pass
class C(A, B): pass

MRO determines the order in which parent classes are traversed when searching for a
method:

In [28]:
C.mro()

[__main__.C, __main__.A, __main__.B, object]

In [29]:
# exceptions
try:
  5/0
except ZeroDivisionError:
  print("No division by zero!")

No division by zero!

In [30]:
while True:
  try:
    x = int(input('Enter your age: '))
  except ValueError:
    print('Oops! That is not a valid number. Try again...')
  else:
    print('Carry on!')
    break

Enter your age: 56
Carry on!

In [33]:
# raising exception
raise ValueError('some error message')

ValueError: ignored

In [34]:
# finally
try:
  raise KeyboardInterrupt
except:
  print('oops')
finally:
  print('All done!')

oops
All done!

In [35]:
# command line arguments
import sys
script_name = sys.argv[0]

In [36]:
arguments = sys.argv[1:]

In [37]:
print(script_name, '\n\n', arguments)

/usr/local/lib/python3.10/dist-packages/ipykernel_launcher.py

 ['-f', '/root/.local/share/jupyter/runtime/kernel-84c56ffb-1e91-43ea-a9b9-18f7ca56a79a.json']

***File IO***
<p>Opens a file and returns a corresponding file object.


```
<file> = open('<path>', mode='r', encoding=None)
```

Modes
<p>• 'r' - Read (default).
<p>• 'w' - Write (truncate).
<p>• 'x' - Write or fail if the file already exists.
<p>• 'a' - Append.
<p>• 'w+' - Read and write (truncate).
<p>• 'r+' - Read and write from the start.
<p>• 'a+' - Read and write from the end.
<p>• 't' - Text mode (default).
<p>• 'b' - Binary mode.


```
<file>.seek(0) # Moves to the start of the file.

<str/bytes> = <file>.readline() # Returns a line.
<list> = <file>.readlines() # Returns a list of lines.

<file>.write(<str/bytes>) # Writes a string or bytes object.
<file>.writelines(<list>) # Writes a list of strings or bytes objects.
```

Methods do not add or strip trailing newlines.

***Read Text From File***
```
def read_file(filename):
 with open(filename, encoding='utf-8') as file:
  return file.readlines() # or read()
for line in read_file(filename):
 print(line)
```

***Write Text To File***
```
def write_to_file(filename, text):
 with open(filename, 'w', encoding='utf-8') as file:
  file.write(text)
```

***Append Text To File***
```
def append_to_file(filename, text):
 with open(filename, 'a', encoding='utf-8') as file:
  file.write(text)
```

***CSV***
```
import csv
```

***Read Rows from csv File***
```
def read_csv_file(filename):
  with open(filename, encoding='utf-8') as file:
    return csv.reader(file, delimiter=';')
```

***Write Rows to csv File***
```
def write_to_csv_file(filename, rows):
  with open(filename, 'w', encoding='utf-8') as file:
    writer = csv.writer(file, delimiter=';')
    writer.writerows(rows)
```

***JSON***
```
import json
<str> = json.dumps(<object>, ensure_ascii=True, indent=None)
<object> = json.loads(<str>)
```

***Read Object from JSON File***
```
def read_json_file(filename):
  with open(filename, encoding='utf-8') as file:
    return json.load(file)
```

***Write Object from JSON File***
```
def write_to_json_file(filename, an_object):
  with open(filename, 'w', encoding='utf-8') as file:
    json.dump(an_object, file, ensure_ascii=False, indent=2)
```

***PICKLE***
```
import pickle
<bytes> = pickle.dumps(<object>)
<object> = pickle.loads(<bytes>)
```

***Read Object from File***
```
def read_pickle_file(filename):
  with open(filename, 'rb') as file:
    return pickle.load(file)
```

***Write Object to File***
```
def write_to_pickle_file(filename, an_object):
  with open(filename, 'wb') as file:
    pickle.dump(an_object, file)
```

In [39]:
from time import time
start_time = time()
# seconds since

In [40]:
print(start_time)

1692209363.5587134

In [41]:
duration = time() - start_time

In [42]:
print(duration)

35.96318483352661

In [43]:
from math import e, pi

In [45]:
print(e, pi)

2.718281828459045 3.141592653589793

In [46]:
from math import cos, acos, sin, asin, tan, atan, degrees, radians

In [47]:
cos(60)

-0.9524129804151563

In [48]:
from math import log, log10, log2

In [49]:
from math import inf, nan, isinf, isnan

In [54]:
from statistics import mean, median, variance, pvariance, pstdev

In [56]:
mean([9,8,8])

8.333333333333334

In [57]:
from random import random, randint, choice, shuffle

In [59]:
random()
# float between 0 and 1

0.6295900292126381

In [60]:
# int between 0 and 100
randint(0, 100)

4

In [61]:
# select random element from list
random_el = choice([1,2,3,4,5])

In [64]:
# shuffle list
ls = [1,2,3,4]
shuffle(ls)

In [65]:
print(ls)

[4, 1, 3, 2]

***DATETIME***
<p>• Module 'datetime' provides 'date' <D>, 'time' <T>, 'datetime' <DT> and
'timedelta' <TD> classes. All are immutable and hashable.
<p>• Time and datetime can be 'aware' < a >, meaning they have defined timezone, or
'naive' <n>, meaning they don't.
<p>• If object is naive it is presumed to be in system's timezone.

In [72]:
from datetime import date, time, datetime, timedelta
from dateutil.tz import UTC, tzlocal

In [75]:
# Constructors
# D = date(year, month, day)
T = time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, fold=0)
# DT = datetime(year, month, day, hour=0, minute=0, second=0)
TD = timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

In [76]:
print(T,'\n',TD)

00:00:00
 0:00:00

In [80]:
D = date(2023,8,5)

In [81]:
print(D)

2023-08-05

In [84]:
DT = datetime(2023,8,8,0,0,0)

In [85]:
print(DT)

2023-08-08 00:00:00

In [86]:
D.weekday()

5

In [87]:
DT.weekday()

1

'fold=1' means second pass in case of time jumping back from one hour.

In [88]:
D = D.today()
DT = DT.today()
# current local date or naive datetime

In [89]:
print(D,'\n',DT)

2023-08-16
 2023-08-16 18:38:29.620623

In [90]:
# naive datetime from current UTC time
DT = DT.utcnow()

In [91]:
print(DT)

2023-08-16 18:39:11.114623

In [92]:
# aware datetime from current tz time
DT = DT.now()

In [93]:
print(DT)

2023-08-16 18:39:56.563579

In [94]:
# utc timezone
tz = UTC

In [95]:
print(tz)

tzutc()

In [97]:
# local timezone
tz = tzlocal()

In [98]:
print(tz)

tzlocal()

In [103]:
DTa = DT.astimezone(tz)
# datetime, converted to passed timezone
print(DTa)

2023-08-16 18:39:56.563579+00:00

In [104]:
# unconverted object with new timezone
Ta = T.replace(tzinfo=tz)

In [105]:
print(Ta)

00:00:00+00:00

***REGEX***
```
import re
<str> = re.sub(<regex>, new, text, count=0) # Substitutes all occurrences.
<list> = re.findall(<regex>, text) # Returns all occurrences.
<list> = re.split(<regex>, text, maxsplit=0) # Use brackets in regex to keep
the matches.
<Match> = re.search(<regex>, text) # Searches for first occurrence
of pattern.
<Match> = re.match(<regex>, text) # Searches only at the beginning
of the text.
```

***MATCH OBJECT***
```
<str> = <Match>.group() # Whole match.
<str> = <Match>.group(1) # Part in first bracket.
<tuple> = <Match>.groups() # All bracketed parts.
<int> = <Match>.start() # Start index of a match.
<int> = <Match>.end() # Exclusive end index of a match.
```

***SPECIAL SEQUENCES***
<p>Expressions below hold true for strings that contain only ASCII characters. Use
capital letters for negation.

```
'\d' == '[0-9]' # Digit
'\s' == '[ \t\n\r\f\v]' # Whitespace
'\w' == '[a-zA-Z0-9_]' # Alphanumeric
```